 @font-face {
   font-family: "Futura PT Demi";
  src: url("../fonts1/15bdac91b83b25ea168302ffbc40909de.eot"); /* IE9*/
  src: url("../fonts1/5bdac91b83b25ea168302ffbc40909de.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts1/5bdac91b83b25ea168302ffbc40909de.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts1/5bdac91b83b25ea168302ffbc40909de.woff") format("woff"), /* chrome、firefox */
  url("../fonts1/5bdac91b83b25ea168302ffbc40909de.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts1/5bdac91b83b25ea168302ffbc40909de.svg#Futura PT Demi") format("svg"); /* iOS 4.1- */
}