@font-face {
  font-family: "Futura PT";
   src: url("../fonts2///db.onlinewebfonts.com/t/d5891031009fb5039a9b5ce6931877fa.eot"); 
   src: url("../fonts2///db.onlinewebfonts.com/t/d5891031009fb5039a9b5ce6931877fa.eot?#iefix") format("embedded-opentype"), 
   url("../fonts2///db.onlinewebfonts.com/t/d5891031009fb5039a9b5ce6931877fa.woff2") format("woff2"),
   url("../fonts2///db.onlinewebfonts.com/t/d5891031009fb5039a9b5ce6931877fa.woff") format("woff"), 
   url("../fonts2///db.onlinewebfonts.com/t/d5891031009fb5039a9b5ce6931877fa.ttf") format("truetype",
   url("../fonts2///db.onlinewebfonts.com/t/d5891031009fb5039a9b5ce6931877fa.svg#Futura PT") format("svg"); 
  }