.btn:hover {
  box-shadow: 6px 12px 20px blueviolet;
}
.smallimgdiv:hover {
  box-shadow: 6px 12px 20px  rgba(252,70,107,1) ;
}
.btn2:hover {
  box-shadow: 0 0 10px #4287f5, 0 0 40px #4287f5, 0 0 80px #4287f5, 0 0 100px #4287f5;
}
